<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Ordering</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
    />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div id="app">
      <div class="title">
        Movie Ordering
        <span class="edit">
          <input
            type="checkbox"
            name="editing"
            id="editing"
            @click="checkInventory"
            v-model="editing"
          />
          編輯電影庫存
        </span>
        <span class="search">
          <i class="fa-solid fa-magnifying-glass"></i>
          <input
            type="text"
            placeholder="請輸入關鍵字"
            v-model="selectVal"
            aria-label="search"
          />
        </span>
      </div>
      <div class="movie" @wheel.prevent="wheel($event)">
        <div class="cards">
          <div class="card" v-for="(movie, mid) in filterSearch">
            <div class="left">
              <!-- <img :src="movie.cover" alt="movie cover" style="width: 200px" /> -->
              <div class="cover" :style="bgCss(movie.cover)"></div>
            </div>
            <div class="right">
              <h2>{{movie.name}}</h2>
              <h4>{{movie.type}}</h4>
              <span class="inventory" :class="{showMode: !editing}">
                總票數
                <input
                  type="number"
                  min="1"
                  step="1"
                  v-model.number="movie.inventory"
                />
              </span>
              <p v-html="movie.description"></p>
              <span class="right-bottom">
                <div class="price">${{movie.price}}</div>
                QTY
                <input
                  type="number"
                  min="1"
                  v-model.number="movie.tickets"
                  aria-label="tickets"
                />
                <div class="inventory">剩餘票數 {{movie.inventory}}</div>
                <button class="add" @click="addCart(movie, $event)">
                  + Add to Cart
                </button>
              </span>
            </div>
          </div>
          <div class="card" v-if="!filterSearch.length">
            <h1>無此影片</h1>
          </div>
        </div>
      </div>
      <!-- 新增點選時的動畫 -->
      <div
        class="buyBox"
        :style="bgCss(currentMovie.cover)"
        v-if="currentMovie"
      ></div>

      <!-- cart control -->
      <div class="fixed-control" @click="isCartOpen=!isCartOpen">
        <p>
          <i class="fa-solid fa-cart-shopping"></i><span>{{cart.length}}</span>
        </p>
      </div>
      <div class="control" v-if="isCartOpen">
        <div class="panel">
          <h2>Movie Cart</h2>
          <ul>
            <li v-for="(movie, mid) in cart">
              <div class="thumbnail" :style="bgCss(movie.cover)"></div>
              <h3>{{movie.name}}</h3>
              <div
                class="inventoryCheck"
                v-if="movie.inventory < movie.tickets"
              >
                數量超過
              </div>
              <div class="removeMovie" @click="delMovie(movie)">刪除</div>
              <div class="ticketsCount">
                <button class="drop" @click="delTickets(movie)">
                  <i class="fa-solid fa-minus"></i>
                </button>
                {{movie.tickets}}
                <button class="add" @click="addTickets(movie)">
                  <i class="fa-solid fa-plus"></i>
                </button>
              </div>
              <div class="price">
                <h3>${{movie.price*movie.tickets}}</h3>
              </div>
            </li>
            <li v-if="!cart.length"><h2>糟糕!這裡沒有東西!!!</h2></li>
          </ul>
          <hr />
          <span class="panel-bottom">
            <h2>$ {{totalPrice}}</h2>
            <span class="btns">
              <button class="clearCart" @click="clearCart()">清空購物車</button>
              <button class="checkout" @click="checkout()">結帳</button>
            </span>
          </span>
        </div>
      </div>
    </div>

    <!-- script list -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"
      integrity="sha512-QJsj3afWlCpnQ60XzzYE8Jb3IgHIK1BcGZox9rUSmRRq3Ocz9vQ1yR80eX2/b9jfx/UuT5zYWNdrM8Te/eCMhQ=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"
      integrity="sha512-rmzOdPpGoO4bACRffaiFrOe9YI2WFS87TZssHmbVPL9cHymNHrYM30oXoUKW7cL+xjwip8+WgCWRHr6ScvfUng=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"
      integrity="sha512-8Wy4KH0O+AuzjMm1w5QfZ5j5/y8Q/kcUktK9mPUVaUoBvh3QPUZB822W/vy7ULqri3yR8daH3F58+Y8Z08qzeg=="
      crossorigin="anonymous"
    ></script>
    <script src="js/main.js"></script>
  </body>
</html>
